.header {
    background-color: #ffb6c2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info span {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1;
    position: relative;
    top: -10px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #D81B60;
}