# Документация
HELP.md

# Gradle 
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# STS (Spring Tool Suite)
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Go
*.exe
*.test
*.out

# Binaries
/bin/
/cmd/**/main

# Dependency caches
vendor/
node_modules/

# Environment
.env
.env.*
!.env.example
frontend/website/.env
frontend/website/.env.*
!frontend/website/.env.example

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar
docker-compose.override.yml
